body{
  background-color: white;
  margin: 0 auto;
  width: 1115px;
}
.nav{
  background-color: white;
  text-align: center;
}
img{
  vertical-align: middle;
}
.nav-home{
  display: inline-block;
}
.logo{
  background-color : white;
  border : 0;
  cursor : pointer;
  text-align: center;
}
.menu{
  background-color : #b8ff14;
  font-size: 16;
  font-weight: bold;
  color: rgb(255, 255, 255);
  border : 0;
  cursor : pointer;
  text-align: center;
  margin-left: 25px;
}
.nav-search{
  border:3px  solid #b8ff14; 
  border-radius:5px; 
  background-color:white;
}
.search{
  border-style : none;
  font-size : 15px;
}
.button{
  font-size: 25px;
}
.container{ 
  position: relative;
  height: 700px;
  width: 100%;
  padding: 20px 30px;
  margin: auto auto;
}
.column_left{
  position: absolute;
  left: 0;
}
.column_right{
  margin-right: 60px;
  position: absolute;
  right: 0;
}
fieldset { 
  color : #888888;
  display : inline;
}
.shopping{
  background-color : #b8ff144f;
  border-style : none;
  display:block; 
  margin-left:auto; 
  margin-right:auto; 
  padding:10px;
  width: 850px;
  text-align: center;
}
.best_c{
  margin: 5px 15px;
  display: inline-block;
}

.Other_menu{
	border: 0;
	background-color: white; 
	color: #A0A0A0; 
	text-align: center;
	margin-bottom: 40px;
	width: 100%;
}
